# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
dash=2.4.1=pypi_0
dash-bootstrap-components=1.1.0=pypi_0
firecloud=0.16.31=pypi_0
firecloud-dalmatian=0.0.17=pypi_0
fsspec=2022.3.0=pypi_0
gcsfs=2022.3.0=pypi_0
google-api-core=2.7.3=pypi_0
google-auth=2.6.6=pypi_0
hound=1.0.1=pypi_0
ipykernel=6.9.1=py38hecd8cb5_0
ipython=8.3.0=py38hecd8cb5_0
jupyter-dash=0.4.2=py_0
jupyterlab=3.4.2=pypi_0
matplotlib=3.5.2=pypi_0
pandas=1.4.2=py38he9d5cce_0
pickleshare=0.7.5=pyhd3eb1b0_1003
pillow=9.1.0=pypi_0
pip=21.2.4=py38hecd8cb5_0
plotly=5.8.0=py_0
setuptools=61.2.0=py38hecd8cb5_0
